<!DOCTYPE html>
<html>
<head>
<title>Question</title>
</head>
<body>
<form method="post">
  <h1>{{ question }}</h1>
  <ul>
    <li><input type="radio" name="answer" value="answer1">{{ answer1 }}</li>
    <li><input type="radio" name="answer" value="answer2">{{ answer2 }}</li>
    <li><input type="radio" name="answer" value="answer3">{{ answer3 }}</li>
    <li><input type="radio" name="answer" value="answer4">{{ answer4 }}</li>
  </ul>
  <input type="submit" value="Submit">
</form>
</body>
</html>
